@model IEnumerable<DODY.Models.Seller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h4 style="color:limegreen;">Hello @Session["Username"] <span style="color:black; padding-left:800px;">@DateTime.Now</span></h4>


<p>
    @Html.ActionLink("Create New Seller", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr style="background-color:lightgreen;font-style:italic; font-size:16px; font-weight:300; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">

        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Mid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                                                                   
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Mid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Sid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Sid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
