@model DODY.Models.Product

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4 style="color:limegreen; font-style:italic">Product</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_For)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_For)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <div style=" padding-left:290px">
            @* if img tag show Error => No Problem It's Ok *@
            <img src="@Url.Content(Model.Image)" width="200" height="250" class="imageHover" />
        </div>

    </dl>
 </div>
<p>  
        @Html.ActionLink("Edit", "Edit", new { id = Model.Pno }) |
        @Html.ActionLink("Back to List", "Index")|
</p>
<br />
