@model DODY.Models.Sale

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canceled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ono)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
