@model IEnumerable<DODY.Models.Deliverier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h4 style="color:limegreen;">Hello @Session["Name"] <span style="color:black; padding-left:800px;">@DateTime.Now</span></h4>


<p>
    @Html.ActionLink("Create New Deliverier","Create","Deliveriers", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr style="background-color:lightgreen;font-style:italic; font-size:16px; font-weight:300; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birth_Date)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
             <td>
               <img src="@Url.Content(item.Image)"  width="50" height="50"/>
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                                                                   
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
                <td>
                @Html.DisplayFor(modelItem => item.Birth_Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Did }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Did }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
