
@{
    ViewBag.Title = "Sign_in";
}

<h2>Sign_in</h2>
<form>
    <table>
        <tr>
            <td> First Name </td>
            <td> <input type="text" name="first name" value="@ViewBag.fn" /> </td>
        </tr>
        <tr>
            <td> Last Name </td>
            <td><input type="text" name="last name" value="@ViewBag.ln" /> </td>
        </tr>
        <tr>
            <td> Phone </td>
            <td><input type="number" name="phone" value="@ViewBag.phone" /> </td>
        </tr>
        <tr>
            <td> Email  </td>
            <td><input type="text" name="Email" value="@ViewBag.Email" /> </td>  @* correct this*@
        </tr>
        <tr>
            <td> password </td>
            <td> <input type="number" name="password" value="@ViewBag.password" /> </td>
        </tr>
        <tr>
            <td> country </td>
            <td> <input type="text" name="country" value="@ViewBag.country" /> </td>
        </tr>
        <tr>
            <td>Birth Day  </td>
            <td> <input type="number" name="BirthDay" value="@ViewBag.BirthDay" /> </td>
        </tr>
        <tr> </tr>
        <tr>
            <td>
                
            </td>
        </tr>


    </table>


</form>
